<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.halk.blog.admin.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="org.halk.blog.admin.entity.Role">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="category_menu_uids" jdbcType="VARCHAR" property="categoryMenuUids" />
  </resultMap>
<!--  <sql id="Base_Column_List">-->
<!--    `uid`, role_name, create_time, update_time, `status`, summary, category_menu_uids-->
<!--  </sql>-->
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from t_role-->
<!--    where `uid` = #{uid,jdbcType=VARCHAR}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    delete from t_role-->
<!--    where `uid` = #{uid,jdbcType=VARCHAR}-->
<!--  </delete>-->
<!--  <insert id="insert" keyColumn="uid" keyProperty="uid" parameterType="org.halk.blog.admin.entity.Role" useGeneratedKeys="true">-->
<!--    insert into t_role (role_name, create_time, update_time, -->
<!--      `status`, summary, category_menu_uids-->
<!--      )-->
<!--    values (#{roleName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, -->
<!--      #{status,jdbcType=BOOLEAN}, #{summary,jdbcType=VARCHAR}, #{categoryMenuUids,jdbcType=VARCHAR}-->
<!--      )-->
<!--  </insert>-->
<!--  <insert id="insertSelective" keyColumn="uid" keyProperty="uid" parameterType="org.halk.blog.admin.entity.Role" useGeneratedKeys="true">-->
<!--    insert into t_role-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="roleName != null">-->
<!--        role_name,-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        create_time,-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        update_time,-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        `status`,-->
<!--      </if>-->
<!--      <if test="summary != null">-->
<!--        summary,-->
<!--      </if>-->
<!--      <if test="categoryMenuUids != null">-->
<!--        category_menu_uids,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="roleName != null">-->
<!--        #{roleName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        #{status,jdbcType=BOOLEAN},-->
<!--      </if>-->
<!--      <if test="summary != null">-->
<!--        #{summary,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="categoryMenuUids != null">-->
<!--        #{categoryMenuUids,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="org.halk.blog.admin.entity.Role">-->
<!--    update t_role-->
<!--    <set>-->
<!--      <if test="roleName != null">-->
<!--        role_name = #{roleName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        `status` = #{status,jdbcType=BOOLEAN},-->
<!--      </if>-->
<!--      <if test="summary != null">-->
<!--        summary = #{summary,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="categoryMenuUids != null">-->
<!--        category_menu_uids = #{categoryMenuUids,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where `uid` = #{uid,jdbcType=VARCHAR}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="org.halk.blog.admin.entity.Role">-->
<!--    update t_role-->
<!--    set role_name = #{roleName,jdbcType=VARCHAR},-->
<!--      create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      update_time = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      `status` = #{status,jdbcType=BOOLEAN},-->
<!--      summary = #{summary,jdbcType=VARCHAR},-->
<!--      category_menu_uids = #{categoryMenuUids,jdbcType=VARCHAR}-->
<!--    where `uid` = #{uid,jdbcType=VARCHAR}-->
<!--  </update>-->
</mapper>
