 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--vue对象的html模板-->
<div id="app">
    <input type="text" v-model="search">
    <hr>

    <!--计算属性可以直接当成数据模型使用，不用加括号-->
    <div>{{birth2}}</div>
    <hr>

    <!--v-bind:class可以绑定样式，简写为:class-->
    <input type="text" v-model="store">
    <input type="button" value="增加商品"  @click="store++">{{store}}<br>
    <input type="text"  value="加入购物车" :class="{active: store > 0}">
    <hr>

    <input value="点我呀，生产随机数" type="button" @click="random = Math.random()">{{random}}<br>
    <span v-if="random > 0.75">你看到我了，代表我是大于0.75</span>
    <span v-else-if="random > 0.5">你看到我了，代表我是大于0.5</span>
    <span v-else-if="random > 0.25">你看到我了，代表我是大于0.25</span>
    <span v-else>你看到我了，代表我是大于0</span><br>
    <hr>

    <!--v-if不进行渲染，v-show进行渲染然后隐藏或者展示，v-if效率高，灵活-->
    <input value="点我呀" type="button" @click="show = !show"><br>
    <span v-if="!show">你看到我了，代表我是true，v-if</span><br>
    <span v-show="show">你看到了，v-show</span><br>
    <hr>


    <!--v-for的使用，遍历对象，使用:key可以提高渲染的效率-->
    <ul>
        <li v-for="(val, key, index) in user" :key="index">{{index + 1}}.{{key}}-{{val}}</li>
    </ul>

    <hr>
    <!--v-for的使用，遍历数组，使用:key可以提高渲染的效率-->
    <ul>
        <li v-if="user.gender == '女'" v-for="(user,index) in users" :key="index">{{index + 1}}.{{user.name}}-{{user.gender}}-{{user.age}}</li>
    </ul>

    <hr>
    <input type="checkbox" value="ios" v-model="language">ios<br/>
    <input type="checkbox" value="java" v-model="language">java<br/>
    <input type="checkbox" value="php" v-model="language">php<br/>
    您选择了：{{language.join(",")}}<br/>

    <!--v-mode双向绑定-->
    <input type="text" v-model="num" @keyup.enter="submit">

    <!--v-on：事件名=js表达式-->
    <!--v-on:click="num++"可以简写成@click="num++"-->
    <input @click="num++" type="button" value="点我呀">

    <!--传统写法，获取dom元素，但是vue中不建议操作dom元素-->
<!--    <input @contextmenu="incr($event)" type="button" value="点我呀">-->

    <!--可以使用这种方式，禁用默认实践-->
    <input @contextmenu.prevent="incr" type="button" value="点我呀">
    <input v-on:click="incr2" type="button" value="点我呀">

    <!--花括号：js表达式-->
    <h1>大家好，我是<span v-text="name">张学友</span>，有{{num}}位妹子迷恋我</h1>
    <h1>大家好，我是{{2 + 3}}</h1>
</div>
</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    /*初始化一个vue实例*/
    const app = new Vue({
        el: "#app",  //element，选择器
        data: {  //定义数据模型
            name: "渣渣辉",  //模型
            num: 100,
            language: [],
            users:[
                {name:'柳岩', gender:'女', age: 21},
                {name:'峰哥', gender:'男', age: 18},
                {name:'范冰冰', gender:'女', age: 24},
                {name:'刘亦菲', gender:'女', age: 18},
                {name:'古力娜扎', gender:'女', age: 25}
            ],
            user: {name:'柳岩', gender:'女', age: 21},
            show: true,
            random: 0,
            store: 0,
            birthday: 0,
            search: ""
        },
        methods: {
            incr(ev){
                // ev.preventDefault();  //覆盖网页的右击效果

                this.num++;
            },
            incr2(){
                this.incr();
            },
            submit(){
                alert("您已经提交了表单" + this.num);
            },
            birth(){
                return new Date(this.birthday).getFullYear() + "年" + new Date(this.birthday).getMonth() + "月" + new Date(this.birthday).getDay() + "日";
            }
        },
        /*计算属性可以当成数据模型使用，但是必须有返回值*/
        computed: {
            birth2(){
                return new Date(this.birthday).getFullYear() + "年" + new Date(this.birthday).getMonth() + "月" + new Date(this.birthday).getDay() + "日";
            }
        },
        /*监听数据模型的变化，名字需要跟数据模型名称一样*/
        watch: {
            search(newValue, oldValue){
                console.log(newValue, oldValue);
            }
        }
    })
</script>
</html>